/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

/*wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

/*header*/
header {
    background-color:#ffffff;
    padding:0 1rem;
    position: fixed;
    z-index:10;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: "pacifico", sans-serif;
    color: #252525;
}

#menu{
    font-size: 110%;
    list-style-type: none;
}

#menu li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
}

/*Main*/
main {
  
  background-color: lightblue;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: lightgreen;
}