/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

/*wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

h1 {
    font-family: "pacifico", sans-serif;
    color: #252525;
}

.white-background {
    background-color: #ffffff;
}

.black-background {
    background-color: #252525;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #252525;
}

.hidden {
    display: none;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "pacifico", sans-serif;
    color: #252525;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: baseline;
    top: 100%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    margin-top: 55px;
    flex: 1 0 auto;
}

/*Hero*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../assets/images/pexels-anastasia-shuraeva-8466017\ \(1\).jpg") no-repeat center center/cover;
    position: relative;
}

#hero h2 {
    font-family: "pacifico", sans-serif;
}

#hero h2,
#hero h3 {
    color: #ffffff;
}

#cover-text {
    background-color: rgba(0, 0, 0, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 89%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/*About us*/
#about {
    height: 600px;
    width: 100%;
    color: #ffffff;
    padding-top: 2rem;
}

#about-us {
    text-align: center;
}

#about-us h1 {
    font-size: 170%;
    font-family: inherit;
}

#about-us {
    font-size: 130%;
}

#what-we-offer {
    padding-top: 2rem;
    text-align: center;
}

#offer-list li {
    padding: 20px;
    text-align: center;
}

/*Club times*/
#club-times h1 {
    color: #ffffff;
    padding-top: 1rem;
    text-align: center;
    font-family: inherit;
    text-align: center;
}

#club-times {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to multiple rows */
    justify-content: center;
    /* Center content horizontally */
    align-items: stretch;
    /* Stretch items to fill the container vertically */
    padding: 2rem 0;
    text-align: center;
    background-color: #252525;
    color: #ffffff;
}

#club-times div {
    padding: 1rem;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

/*Gallery*/
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Sign up*/
 #signup{
    background: url("../assets/images/pexels-sk-814133.jpg");
    width: 100%;
    height: 100vh;
    background-position: 75%;
 }

#signup-form {
    color: #252525;
    background-color: rgba(225, 225, 225, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #252525;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #252525;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #252525
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #fafafa;
    color: #252525
}

/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Footer*/
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-top: 1.5rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        margin-top: 75px;
    }

    /*Hero*/

    #cover-text {
        width: 400px;
        right: 0;
    }

    /*About us*/
    #about {
        height: 400px;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /*Sign up*/
        #signup {
            background-position: center;
            position: relative;
            align-content: center;
        }
    
        #signup-form {
            position: absolute;
            left: 50%;
            top: 100px;
          
        }
    
        .form-input:hover {
            border-color: #4d4d4d;
        }
    
        .join-button:hover {
            background-color: #3f3f3f;
            color: #fafafa;
        }
}

/*Media query: laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}